@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");

body {
  font-family: "Smooch", cursive;
  margin: 0;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #bfb9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  box-sizing: border-box;
}
.nav {
  padding-bottom: 100px;
}

.nav__text:not(:last-child) {
  margin-bottom: 20px;
  list-style: none;
}
.button {
  border: none;
  background: none;
  font-size: 1.1rem;
  color: gray;
  cursor: pointer;
}
.icon {
  font-size: 1.5rem;
}
